export FSTYP=${XFSTESTS_FSTYP:-ext2}
export TEST_DEV=${XFSTESTS_TEST_DEV:-/dev/vdc}
export SCRATCH_DEV=${XFSTESTS_SCRATCH_DEV:-/dev/vdd}

export TEST_DIR=/opt/xfstests/test
export SCRATCH_MNT=/opt/xfstests/scratch

if [ "${XFSTESTS_MOUNT_OPTIONS+x}" = x ]; then
    export MOUNT_OPTIONS="$XFSTESTS_MOUNT_OPTIONS"
else
    export MOUNT_OPTIONS="-o noacl"
fi
export EXT_MOUNT_OPTIONS="$MOUNT_OPTIONS"

export FSTYP_HAS_NON_DEFAULT_OPTS=0
export SELINUX_MOUNT_OPTIONS=" "

export MKFS_OPTIONS="${XFSTESTS_MKFS_OPTIONS--F}"
